
params {

    local_spaceranger          = "/module/apps/spaceranger/3.1.3/spaceranger"

    local_xenome               = "xenome"   // make sure doing: module load xenome

    container_dir              = "/mnt/cbib/thesis_gbm/spatial_thesis/map-xenograft-ST/singularity"

    container_inception        = "${params.container_dir}/container-mamba-inception.sif"
    container_hovernet         = "${params.container_dir}/local/container-singularity-hovernet-py.sif"
    container_stainnet         = "${params.container_dir}/container-singularity-stainnet.sif"
    container_staintools       = "${params.container_dir}/container-singularity-staintools.sif"
    container_vips             = "${params.container_dir}/container-singularity-vips.sif"

    container_uni_conch       = "${params.container_dir}/hf-uni-conch.sif"
    container_ctranspath       = "${params.container_dir}/local/mamba-timm.sif"
    container_deepfocus        = "${params.container_dir}/deepfocus.sif"
    container_ome              = "${params.container_dir}/local/ome.sif"

    container_xenome           = "${params.container_dir}/xenome_1.0.1.sif"

    container_xengsort         = "${params.container_dir}/local/mamba-xenomake.sif"
    container_fastqtools       = "${params.container_dir}/container-singularity-fastqtools.sif"
    container_spaceranger      = "${params.container_dir}/container-singularity-spaceranger.sif"

    container_bafextract       = "${params.container_dir}/container-singularity-bafextract.sif"
    container_samtools         = "${params.container_bafextract}"

    container_python           = "${params.container_dir}/container-singularity-python.sif"
    container_velocyto         = "${params.container_dir}/container-singularity-velocyto.sif"

}
